
Host ssh
   Hostname ssh.soe.ucsc.edu
   User rwzhao

Host ssh-pycharm
   Hostname ssh.soe.ucsc.edu
   User rwzhao

Host citrisdance
    Hostname citrisdance
    User rwzhao
    LocalForward 7676 127.0.0.1:7676
    ProxyCommand ssh ssh -W %h:%p

Host nlp-gpu-01
    Hostname nlp-gpu-01.be.ucsc.edu
    User rzhao17
    ProxyCommand ssh ssh -W %h:%p

Host nlp-gpu-01-pycharm
    Hostname nlp-gpu-01.be.ucsc.edu
    User rzhao17
    ProxyCommand ssh ssh-pycharm -W %h:%p

Host deepcore
    Hostname deepcore
    User rwzhao
    LocalForward 7676 127.0.0.1:7676
    ProxyCommand ssh ssh -W %h:%p

Host hb
    Hostname hb.ucsc.edu
    User rwzhao
    ProxyCommand ssh ssh -W %h:%p

Host citrisdance-pycharm
    Hostname citrisdance
    User rwzhao
    ProxyCommand ssh ssh-pycharm -W %h:%p
